<app-spinner *ngIf="loading"></app-spinner>

<div *ngIf="!loading" class="row row-cols-1 row-cols-md-4 mt-5">

    <div *ngFor="let imagen of listImagenes" class="col mb-4">
      <div class="card">
        <img [src]="imagen.previewURL" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <a [href]="imagen.largeImageURL" target="_blank" class="btn btn-primary">VER IMAGEN</a>
        </div>
        <div class="card-footer text-muted text-center">
            <div class="row">
                <div class="col">
                    <p class="likeviews">Likes</p>
                    <span class="badge badgelight likeviews"> {{imagen.likes}} </span>
                </div>
                
                <div class="col">
                    <p class="likeviews">Views</p>
                    <span class="badge badgelight likeviews"> {{imagen.views}} </span>
                </div>

            </div>
        </div>
      </div>
    </div>
    
  </div>

  <div *ngIf="listImagenes.length > 0" class="d-flex justify-content-center mt-3 ">
    <ul class="pagination pagination-lg">
      <li *ngIf="paginaAnteriorClass()" class="page-item ">
        <a class="page-link" (click)="paginaAnterior()">&laquo;Anterior</a>
      </li>
   
      <li *ngIf="paginaPosteriorClass()" class="page-item">
        <a class="page-link" (click)="paginaPosterior()">Siguiente&raquo;</a>
      </li>
    </ul>
  </div>